
/minecraft/.probe
/minecraft/cache
/minecraft/logs
/minecraft/modernfix
/minecraft/mods
/minecraft/saves
/minecraft/shaderpacks
/minecraft/xaero
/minecraft/XaeroWaypoints_BACKUP240807
/minecraft/resourcepacks
/minecraft/ESM
/minecraft/crash-reports
/minecraft/local
/minecraft/emi.json
/minecraft/patchouli_data.json
/minecraft/usernamecache.json
/minecraft/rhino.local.properties
instance.cfg
minecraft/ears-debug.log
/minecraft/.mixin.out/class/net/minecraft/client/renderer/entity
minecraft/usercache.json
minecraft/observable_announce
